$black: #000000;
$blue: #274c77;
$Bluish: #2279c5;
$hippieBlue: #6096BA;
$white: #ffffff;
$aquaHaze: #f5f5f5;
$blackSqueeze: #F6F9FB;
$desertStorm: #F7F7F7;
$silkBlue: #5692B4;
$lavenderMist: #DDE9F0;
$liver: #4D4D4D;
$blackCow: #4F4F4F;
$terraCotta: #DE6B5C;