@import "colors";
@import "typography";

html,
body {
  padding: 0;
  margin: 0;
  background: $white;
  font-family: "Noto Sans", sans-serif;
}
body {
  button {
    font-family: "Noto Sans", sans-serif;
    outline: none;
    box-shadow: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}

p {
  margin: 0 0 20px;
}
p:last-child {
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

.navigation.bg-primary {
  padding: 0px 0;
  background: $blue !important;
}
.navigation {
  .header-main-nav {
    .nav-link {
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size:14px;
      line-height: 16px;
      color: $white;
      padding: 12px 25px 10px 25px;
      
    }
    .nav-link.active{
      text-decoration: underline;
      text-underline-offset: 10px;
      text-decoration-thickness: 3px !important;
    }
    .homeMenu.nav-link {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
}

.pageMainWrap {
  padding: 65px 0;
  background: $aquaHaze;
  .mainWrapper {
    max-width: 1795px;
    margin: auto;
    background: $white;
    box-shadow: 2px 5px 16px 6px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 50px 40px 40px;
    .wrapperInner {
      background: $white;
      border: 1px solid $blue;
      border-radius: 4px;
      padding: 60px 0 40px;
      position: relative;
      .pageTableContainer {
        max-width: 1471px;
        margin: auto;
      }
    }
  }
}
.acknowledgement {
  position: absolute;
  top: -23px;
  left: 30px;
  background: $white;
  h4 {
    border: 1px solid $Bluish;
    background: $blue;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: $white;
    margin: 0;
    padding: 5px 25px;
  }
  button {
    background: $white;
    border: 1px solid $blue;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.5;
    padding: 5px 18px;
    border-radius: 0;
  }
  button.active {
    background: $blue;
    opacity: 1;
    color: $white;
  }
}
.pageTableSearch {
  .md-form {
    .input-group {
      background: $blackSqueeze;
      border: 1px solid $hippieBlue;
      border-radius: 12px;

      .form-control {
        border: none;
        box-shadow: none;
        outline: none;
        background: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        padding: 10px 20px;
        min-height: inherit;
        height: auto;
      }
      .input-group-prepend {
        .btn {
          width: 60px;
          height: auto;
          border: none;
          padding: 10px 0px 0px 0px;
          line-height: auto;
          background: none;
        }
      }
    }
  }
  .searchFiler {
    padding: 30px 0 0;
    button {
      height: 42px;
      margin: 0 15px 0 0;
      border: none;
      padding: 0 25px;
      border-radius: 38px;
      line-height: 40px;
      background: $white;
    }
    button.today {
      background: linear-gradient(87.63deg, #5692b4 24.44%, #1d76c4 96.01%);
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: $desertStorm;
    }
    button.filter {
      border: 1px solid $blue;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: $blue;
      span {
        vertical-align: middle !important;
      }
      small {
        margin: 0 6px 0 0;
      }
    }
  }
}
.pageTableMain {
  padding: 33px 0 0;
  .pageTableTabs {
    padding: 0 0 15px;
    button {
      background: $blue;
      opacity: 0.5;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: $white;
      padding: 5px 12px;
      border: none;
      margin: 0 2px 0 0;
    }
    button.active {
      opacity: 1;
    }
  }
  .tableData {
    border: 2px solid $silkBlue;
    border-radius: 8px;
    border-spacing: 0;
    background: $lavenderMist;
    border-collapse: inherit;
    vertical-align: middle;
    tr {
      border: none;
      th,
      td {
        font-size: 14px !important;
        line-height: 22px;
        padding: 6px 6px;
        border-width: 0 1px 0 0;
        border-color: rgba(179, 179, 179, 0.4);
        color: $liver;
        box-shadow: none;
        vertical-align: middle;
      }
      th:last-child,
      td:last-child {
        border-right-width: 0;
      }
    }
    thead {
      tr {
        th {
          font-weight: 600;
        }
        th.extraFont {
          font-size: 14px;
        }
        th.smallFont {
          font-size: 15px;
        }
      }
      tr:nth-child(2) {
        th {
          border-width: 1px 1px 0 0;
        }
      }
    }
    tbody {
      tr {
        td {
          font-weight: 400;
          background: $white;
          h6 {
            font-size: 24px;
            line-height: 33px;
            color: $blue;
            margin: 0;
          }
          .fcheckbox {
            margin: 0 0 15px;
          }
          button {
            text-align: center;
            border: none;
            background: none;
            color: $liver;
            padding: 0;
            margin: 0 10px;
            small {
              display: block;
            }
          }
          button.capture {
            width: 160px;
            height: 60px;
            background: $blue;
            border-radius: 4px;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: $white;
            padding: 0;
          }
        }
      }
      tr:nth-child(2n) {
        td {
          background: $lavenderMist;
        }
      }
    }
  }
  .tableData.tableheadBg {
    thead {
      tr {
        th {
          background: $silkBlue;
          color: $white;
          border-color: $white;
        }
      }
    }
  }
}

.pageMainWrap {
  .modal-lg {
    .modal-dialog {
      max-width: 1276px;
    }
  }
}
body {
  .modal {
    .modal-dialog {
      .modal-content {
        border: none;
        border-radius: 12px;
        .modal-header {
          background: $silkBlue;
          border: none;
          padding: 30px 22px 19px;
          .modal-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: $white;
            margin: 0;
          }
          .btn-close {
            background: none;
            opacity: 1;
            padding: 0;
            margin: 0;
          }
        }
        .modal-body {
          padding: 56px 59px 35px;
          h5 {
            font-weight: 500;
            font-size: 22px;
            line-height: 30px;
            color: $blue;
          }
        }
      }
    }
  }
}
body {
  .form-control {
    background: $blackSqueeze;
    border: 1px solid $hippieBlue;
    border-radius: 12px;
    height: 61px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 19px 20px;
    color: $liver;
    box-shadow: none;
    outline: none;
  }
  .form-control:focus {
    box-shadow: none;
    outline: none;
  }
  .form-control::placeholder {
    font-weight: 400;
  }
  .form-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $liver;
  }
  .form-floating > .form-control-plaintext ~ label,
  .form-floating > .form-control:focus ~ label,
  .form-floating > .form-control:not(:placeholder-shown) ~ label,
  .form-floating > .form-select ~ label {
    opacity: 1;
    transform: scale(0.85) translateY(-1rem) translateX(0.5rem);
    height: 30px;
    padding: 7px 10px;
    display: inline-block;
    background: $white;
    width: auto;
  }
  .form-floating > .form-control,
  .form-floating > .form-control-plaintext,
  .form-floating > .form-select {
    height: 40px;
    padding-top: 10px;
    font-size: 14px;
  }
  .form-floating > .form-control,
  .form-floating > .form-control-plaintext {
    padding: 0px 20px;
  }
  .form-floating > .form-control-plaintext:focus,
  .form-floating > .form-control-plaintext:not(:placeholder-shown),
  .form-floating > .form-control:focus,
  .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form-floating > label {
    margin: 0;
    padding: 12px;
  }
  .so.form-control {
    width: 25%;
    display: inline-block;
    border-radius: 12px 0 0 12px;
    border-right: none;
  }
  .relationName.form-floating {
    width: 75%;
    display: inline-block;
    .form-control {
      border-radius: 0 12px 12px 0;
    }
  }
  .form-check {
    padding-left: 0;
    .form-check-input {
      margin: 0 15px 0 0;
      width: 28px;
      height: 28px;
    }
    .form-check-input:checked[type="radio"] {
      border-color: $blue;
      background: url(../../public/images/radio-checked.jpg) no-repeat center
        center;
    }
    label {
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: $blue;
    }
  }
}
.executanttantTable {
  .tabsList {
    position: absolute;
    top: 90px;
    .nav-item {
      margin: 0 30px 0 0;
      a {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        background: none;
        border-bottom: 3px solid transparent;
        color: $blue;
        border-radius: 0;
        padding: 0;
        span {
          display: block;
          width: 57px;
          height: 24px;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: $white;
          text-align: center;
          margin: auto;
          background: $terraCotta;
          border-radius: 19px;
        }
      }
      .nav-link.active {
        font-weight: 600;
        border-bottom-color: $blue;
      }
    }
  }
  .tableData {
    tr {
      td,
      th {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
  .tab-content {
    h5 {
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      color: $blue;
    }
  }
  .witnessList {
    .emptyBox {
      height: 216px;
      background: $blackSqueeze;
      border: 1px solid $hippieBlue;
      border-radius: 12px;
    }
    .confirmbox {
      padding: 20px 0 0;
      button {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: $blue;
        border: 1px solid $hippieBlue;
        width: 100%;
        border-radius: 12px;
        background: $white;
        padding: 22px 0;
      }
    }
  }
  .witnessList.witness1 {
    border-bottom: 1px solid $black;
    padding: 0 0 40px;
    margin: 0 0 40px;
  }
}
.pageNextBtn {
  text-align: right;
  padding: 45px 0 0;
  button {
    width: 160px;
    height: 60px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 0;
    border: 1px solid $blue;
  }
  button.clear {
    color: $blue;
    background: $white;
    margin-right: 20px;
  }
  button.next {
    background: $blue;
    color: $white;
  }
}
.partyDetails {
  background: $white;
  padding: 40px 20px;
  border: 1px solid rgba(221, 221, 221, 0.95);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  .partyTitle {
    padding: 0 0 20px;
    h5 {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: $blue;
    //  background: url(../../public/images/Party-Details-arrow.svg) no-repeat
     //   left center;
      padding: 0 0 0 34px;
    }
  }
  .executanttantTable {
    .tabsList {
      position: relative;
      top: 0;
      padding: 0 0 40px;
    }
  }
  .card {
    background: $blackSqueeze;
    border: 1px solid $hippieBlue;
    border-radius: 8px;
    .cardHeader {
      background: $hippieBlue;
      border: 1px solid $hippieBlue;
      border-radius: 8px 8px 0px 0px;
      padding: 10px 12px;
      h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: $white;
        margin: 0;
        span {
          font-weight: 400;
          font-size: 18px;
        }
      }
      .cardBtns {
        margin: 0;
        button {
          border: none;
          background: none;
          padding: 0;
        }
        button.delete {
          margin-left: 25px;
        }
      }
    }
    .cardBody {
      padding: 20px 12px 15px;
      img {
        border: 1px solid $hippieBlue;
      }
      h6 {
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: $blue;
        span {
          display: block;
          font-weight: 400;
          color: $liver;
        }
      }
      h6:nth-child(2) {
        margin-left: 16px;
      }
    }
  }
}
.partyDetails.propertyDetails {
  .executanttantTable {
    .card {
      .cardHeader {
        h5 {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }
}
.partyDetails.cashRecipient {
  .partyTitle {
    padding-bottom: 0;
  }
}
.assigningcheckboxes {
  padding: 30px 0;
  .form-check:nth-child(2) {
    margin-left: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .pageMainWrap {
    .modal-lg {
      .modal-dialog {
        width: 98%;
      }
    }
  }
}

@media (min-width: 1180px) and (max-width: 1800px) {
  .pageMainWrap {
    .mainWrapper {
      width: 98%;
      padding-left: 20px;
      padding-right: 20px;
      .pageTableContainer {
        width: 97%;
      }
    }
  }
}
.devicemantra {
  position: relative;
  width: 168px;
  height: 27px;
  left: 80%;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.digitalSignHeader {
  width: 142px;
  height: 27px;
  margin: 20.48px;
  font-family: 'Noto Sans';
  font-style: regular;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  color: #274C77;
}
.bluebuttonclass {
  max-width: 140px;
  height: 50px;
  width: 100%;
  background: $blue;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $white;
  border: 1px solid $blue;
  cursor: pointer;
  float: right;

}
.whitebuttonclass {
  width: 100%;
  max-width: 160px;
  height: 50px;
  background: $white;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $blue;
  border: 1px solid $blue;
  cursor: pointer;
}
.searchacknowledge-full-details {
  width: 100%;
  height: 114px;
  background-color: #DDE9F0;
  margin: 5% 5% 5% 0%;
  border-radius: 12px;
  align-items: center;
  justify-content: space-around;
  font-family: "Noto Sans";
}
.acksearchscreen-number-year-csnumber-data {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 23px;
  color: #274C77;
}
.searchacknowledge-full-details-head-color {
  color: $liver;
}
.acknowledge-Partydetails-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 100%;
  max-width: 170px;
  height: 100%;
  max-height: 53px;
  margin: -22px 0px 0px 20px;
  background: #274c77;
  border: 1px solid #274c77;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}




















































































































































































































































.header-image{
  height: 120px;
  width: 100%;
}

.header-space{
  height: 120px;
}

.headerNavContainer.container{
  max-width: 100%;
}



